PORT=3000
SUPABASE_URL=
SUPABASE_SECRET_KEY=
IMAGE_UPLOAD_BUCKET=images
JWT_SECRET=
FRONTEND_URLS=https://ppid-sumoramedesa.id,https://www.ppid-sumoramedesa.id,https://web-desa-sumorame.vercel.app
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ALLOWED_HOSTNAMES=ppid-sumoramedesa.id,www.ppid-sumoramedesa.id,web-desa-sumorame.vercel.app
AUTH_THROTTLE_SECRET=
